
.boxes
  width: 50%
  margin: auto
  display: table

  img
    margin: 4px

  .box
    display: table-cell

    span
      color: #aaa
      font-size: 12px

  @media $smartphone
    .boxes img
      width: 40px
    
    .box span,
    .box h3
      display: none

section.community

  .boxes
    margin-top: 40px

    img
      opacity: 0.5

    a.box
      max-width: 100px
      min-width: 100px

      &:hover
        text-decoration: none