/*--------------------------------------------------------------------
*
* FEATURES
*
--------------------------------------------------------------------*/

@media $desktop

  .features
    
    .column
      text-align: left

