/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

footer
  padding: 40px 0
  color: $gray-light
  text-align: center

  p:not(:last-child)
    margin: 0