/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

footer
  padding-bottom: 40px
  color: $gray-light
  text-align: center

  p:not(:last-child)
    margin: 0