/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

header
  line-height: 80px
  border-bottom: 1px solid $gray-lighter
  
  h4
    margin: 0
    text-transform: uppercase

  nav
    a
      padding: 0 20px

      &:last-of-type
        padding-right: 0

    .label
      display: inline-block
      padding: 3px 5px
      margin-left: 5px
      border-radius: 3px
      background-color: $green-light
      color: white
      font: 400 $font-small/1.25 $font-franklin

