/*--------------------------------------------------------------------
*
* HEADER
*
--------------------------------------------------------------------*/

header
  border-bottom: 1px solid $gray-lighter
  
  h3
    margin: 10px 0
    padding-left: 80px
    background: url('/img/logo.svg') 0 0 no-repeat
    background-size: contain
    text-transform: uppercase

  nav

    input[type=checkbox]
      position: absolute
      top: -9999px
      left: -9999px

    h3
      line-height: 80px
    a, label
      line-height: 100px

    label
      cursor: pointer
      color: $green
      font-family: $header-font
      font-weight: 800

    .label
      display: inline-block
      padding: 3px 5px
      margin-left: 5px
      border-radius: 3px
      background-color: $green-light
      color: white
      font: 400 $font-small/1.25 $header-font

@media (min-width: 769px)

  nav

    label
      display: none

@media $mobile-devices

  nav

    .pull-right
      float: none
      text-align: right

    .unstyled
      display: none

    input[type=checkbox]:checked ~ ul.unstyled

      display: block
      width: 100%

    input[type=checkbox]:checked ~ ul.unstyled

      li
        padding: 0
        position: relative

        &:not(:last-of-type)
          border-bottom: 1px solid $gray-lighter

      li, a
        display: inline-block
        width: 100%

      a
        padding: 0 10px
        text-align: left
        line-height: 60px

      .label
        position: absolute
        top: 20px
        right: 10px
