/*--------------------------------------------------------------------
*
* INTRO
*
--------------------------------------------------------------------*/

.intro
  text-align: center

  h3
    margin-top: 0
    font-weight: 400
    line-height: 1.2

@media $desktop

  .intro 
    
    h1
      margin: 60px 0 0 0

    h4
      margin: 0 auto 30px
      max-width: 80%

@media $smartphone

  .intro

    h1
      margin: 60px 0 10px 0