/*--------------------------------------------------------------------
*
* PAPERS
*
--------------------------------------------------------------------*/

@media $desktop

  .papers
    
    p
      margin: 0

@media $mobile-devices

  .papers

    p
      margin-top: 0