/*--------------------------------------------------------------------
*
* PLATFORMS
*
--------------------------------------------------------------------*/

.platforms
  
  ul
    padding-top: 20px

  img
    display: block
    margin-bottom: 20px
    opacity: .5

@media $smartphone

  .platforms

    ul.unstyled

      li
        float: left
        width: 50%
        padding: 0
        margin-bottom: 30px

        img
          margin: 0 auto 10px