
section.companies
  
  margin-bottom 50px
  
  a:hover
    img
      opacity 0.6

  @media (max-width: 400px)

    .companies
      
      img
        display block
        padding-bottom 20px
        
      ul.unstyled li
          display: block;
          line-height: 70px;        
          

@media $smartphone
  
  section.companies .column.column-three
    padding 20px 0px         

@media $tablet
    
  section.companies .column.column-three
    padding 20px 0px
