/*--------------------------------------------------------------------
*
* CONFERENCES
*
--------------------------------------------------------------------*/

.conferences
  a
    border-bottom 1px solid $light-green
    
  a:hover
    border-bottom 0px
    
  div.bg-gradient
    background linear-gradient($green, $light-green)
    -webkit-background-clip text
    -webkit-text-fill-color transparent

  h4 
    line-height 22px
    margin 0
    padding 0
    
  h5
    font-family $font-apercu
    font-size $font-small
    margin 10px
    padding-bottom 18px