/*--------------------------------------------------------------------
*
* FEATURES
*
--------------------------------------------------------------------*/

section.features 
  padding-bottom 10%
  margin-bottom 0

@media $desktop

  .features
    
    .column
      text-align left

