/*--------------------------------------------------------------------
*
* FOOTER
*
--------------------------------------------------------------------*/

footer
  background-color $light-green
  padding-bottom: 40px
  color $dark-gray
  text-align center
  
  p:not(:last-child)
    margin 0
    
  p:last-child
      padding-top 30px

  .github-button
    border 3px solid $green
    padding 10px
    font-weight bold
    font-family $font-apercu
    
  a.github-button:hover
    border 3px solid $dark-gray
    color $dark-gray