
section.highlights
  background-color $bg-darkgray
  padding 50px 20%
  margin-top 0
  
  h3, h4, p
    color $white
    
  a
    color $light-green
    
  h4
    padding-bottom 10px
    border-bottom 2px solid $light-green
    width 30px

  a:hover
    color $green
  
@media $smartphone
      
  section.highlights h4
    margin auto      
    border-bottom 0px !important
    width 100% !important
    padding 20px 0px   
    

@media $tablet
    
  section.highlights h4
    margin auto      
    border-bottom 0px !important
    width 100% !important
    padding 20px 0px