/*--------------------------------------------------------------------
*
* PLATFORMS
*
--------------------------------------------------------------------*/

section.platforms
  
  ul.unstyled
    padding-top 20px
    font-family $font-apercu
    font-size $font-small
    
    li
      padding 0 35px

  img
    display block
    margin-bottom 20px
    opacity .5

@media $smartphone

  section.platforms

    ul.unstyled
      max-width 360px
      margin auto

      li
        float left
        width 50%
        padding-top 10px
        margin-bottom 30px

        img
          margin 0 auto 10px
          
@media $tablet

  section.platforms

    ul.unstyled
      max-width 360px
      margin auto

      li
        float left
        width 50%
        padding-top 10px
        margin-bottom 30px

        img
          margin 0 auto 10px
