*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font: 500 1.25rem/1.5 "freight-display-pro", Georgia, Times, serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "proxima-nova-alt-condensed", Helvetica, Arial, sans-serif;
  font-weight: 800;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
h1 {
  font-size: 3.75rem;
}
h2 {
  font-size: 3.25rem;
}
h3 {
  font-size: 2.75rem;
}
h4 {
  font-size: 2.25rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1rem;
}
small {
  font-size: 0.9375rem;
}
a {
  cursor: pointer;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
img,
video,
iframe {
  max-width: 100%;
}
ul,
ol {
  margin: 20px 0 20px 30px;
  padding: 0;
}
ul li ul li,
ol li ul li {
  list-style-type: circle;
}
ul li li ul li,
ol li li ul li {
  list-style-type: square;
}
ul li {
  list-style-type: disc;
}
ul.unstyled {
  margin: 0;
}
ul.unstyled li {
  display: inline-block;
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0;
}
button {
  border: none;
}
button,
.button {
  display: inline-block;
  font-size: 1.25rem;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:disabled,
.button:disabled {
  cursor: not-allowed;
}
button:focus,
.button:focus {
  outline: none;
}
