*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 100%;
}
body {
  font: 500 1rem/1.5 "ff-more-web-pro", Georgia, Times, serif;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "franklin-gothic-urw", Helvetica, Arial, sans-serif;
  font-weight: 900;
}
h1,
h2,
h3 {
  line-height: 1.2;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.6rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.8rem;
}
h5 {
  font-size: 1.2rem;
}
h6 {
  font-size: 0.8rem;
}
small {
  font-size: 0.75rem;
}
a {
  cursor: pointer;
  color: #34954c;
  text-decoration: none;
}
a:hover {
  color: #1a4b26;
  transition: all 0.5s ease-in;
  -webkit-transition: all 0.5s ease-in;
}
a:focus {
  outline: none;
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
img,
video,
iframe {
  max-width: 100%;
}
.content {
  margin: 0 auto;
}
@media (min-width: 769px) {
  .content {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .content {
    width: 90%;
  }
}
ul,
ol {
  margin: 20px 0 20px 30px;
  padding: 0;
}
ul li ul li,
ol li ul li {
  list-style-type: circle;
}
ul li li ul li,
ol li li ul li {
  list-style-type: square;
}
ul li {
  list-style-type: disc;
}
ul.unstyled {
  margin: 0;
}
ul.unstyled li {
  display: inline-block;
  list-style-type: none;
}
ol li {
  list-style-type: decimal;
}
dl dt {
  font-weight: bold;
}
dl dd {
  margin: 0;
}
button {
  border: none;
}
button,
.button {
  display: inline-block;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:disabled,
.button:disabled {
  cursor: not-allowed;
}
button:focus,
.button:focus {
  outline: none;
}
header {
  line-height: 80px;
  border-bottom: 1px solid #e0e0e0;
}
header h4 {
  margin: 0;
  text-transform: uppercase;
}
header nav a {
  padding: 0 20px;
}
header nav a:last-of-type {
  padding-right: 0;
}
header nav .label {
  display: inline-block;
  padding: 3px 5px;
  margin-left: 5px;
  border-radius: 3px;
  background-color: #8cd79f;
  color: #fff;
  font: 400 0.75rem/1.25 "franklin-gothic-urw", Helvetica, Arial, sans-serif;
}
footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
}
footer p:not(:last-child) {
  margin: 0;
}
.intro {
  text-align: center;
}
.intro h1 {
  margin-bottom: 0;
}
.intro h4 {
  margin-top: 0;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 769px) {
  h4 {
    margin: 0 auto;
    max-width: 80%;
  }
}
