/*--------------------------------------------------------------------
*
* COLORS
*
--------------------------------------------------------------------*/

// Colors

$black = rgba(0, 0, 0, 1)
$white = rgba(243, 243, 243, 1)

$dark-gray = rgba(40, 43, 51, 1)
$medium-gray = rgba(87, 116, 130, 1)
$light-gray = rgba(220, 220, 220, 1)
$bg-darkgray = rgba(60, 79, 91, 1)
$bg-lightgray = rgba(247, 247, 247, 1)

$dark-green = rgba(49, 102, 52, 1)
$green = rgba(74, 154, 85, 1)
$light-green = rgba(212, 234, 153, 1)

$gray = #333
$gray-light = lighten($gray, 50%)
$gray-lighter = lighten($gray, 85%)

$green-light = lighten($green, 50%)
$green-lighter = lighten($green, 80%)
$green-dark = darken($green, 50%)