/*--------------------------------------------------------------------
*
* FONTS
*
--------------------------------------------------------------------*/

@font-face
  font-family 'apercu-pro-mono';
  src url('../../fonts/ApercuPro-Mono.ttf') format('truetype')
  
@font-face
  font-family 'brownstd-bold';
  src url('../../fonts/BrownStd-Bold.otf') format('opentype')
  
@font-face
  font-family 'brownstd-light';
  src url('../../fonts/BrownStd-Light.otf') format('opentype')

body
  text-rendering optimizeLegibility
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  -webkit-font-variant-ligatures common-ligatures
  font-variant-ligatures common-ligatures
  -moz-font-feature-settings "kern=1"
  -webkit-font-feature-settings "kern"
  -moz-font-feature-settings "kern"
  font-feature-settings "kern"
  font-kerning normal