/*--------------------------------------------------------------------
*
* BUTTONS
*
--------------------------------------------------------------------*/

button
  border: none

button, .button
  display: inline-block
  border-radius: 3px
  font-size: $font-base
  font-family: $header-font
  text-align: center
  cursor: pointer
  -webkit-appearance: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  color: white

  &:disabled
    cursor: not-allowed

  &:focus
    outline: none

  &.button-primary
    background-color: $green

    &:hover
      background-color: darken(@background-color, 30%)

  &.button-secondary
    background-color: $green-light

    &:hover
      background-color: $green

  &.button-large
    height: 50px
    line-height: 50px
    padding: 0 20px
    margin: 0 20px

@media $smartphone

  .button
    width: 100%

  button.button-large, .button.button-large
    margin: 0px
