/*------------------------------------------------------------------------------
*
*  Footer
*
------------------------------------------------------------------------------*/

footer
  padding: 1.25rem 0
  text-align: center
  color: $space-gray-light
  font-size: $font-size-small
