/*------------------------------------------------------------------------------
*
*  Header
*
------------------------------------------------------------------------------*/

header
  height: 610px
  width: 100%
  text-align: center
  background-color: #222
  background-repeat: no-repeat
  color: white

  nav
    text-transform: uppercase
    height: 50px
    background-color: white
    margin-bottom: 2rem
    padding: 0 10%
    box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.3)

    span
      margin: 12px
      float: left
      color: $satanic-gray

    li
      float: right
      margin: 12px

  a:not(.button), a:focus:not(.button), a:visited:not(.button)
    color: $node-green

  h1.wordmark
    float: left
    margin: 0
    text-align: left


  .logo
    margin-top: 30px

  h2
    margin: 2rem 0 .625rem 0
    font-weight: $font-weight-regular
    font-size: $font-size-mega

  p
    margin-top: 0
    font-size: $font-size-large
    color: rgba(white, .85)

/* Responsive */

@media $smartphone
  header

    .logo
      width: 40%
    .wordmark
      font-size: $font-size-h2


    .twitter
      height: 1.5rem
      margin-top: .4rem
      font-size: $font-size-h4
      background-size: 30px 30px

    h2
      font-size: $font-size-h3
      margin: 3.5rem 0 .625rem 0

    p
      font-size: $font-size-h4

  h2
    font-size: $font-size-h3
    margin: 3.5rem 0 .625rem 0
