/*--------------------------------------------------------------------
*
* COLORS
*
--------------------------------------------------------------------*/

$gray = #333
$gray-light = lighten($gray, 50%)
$gray-lighter = lighten($gray, 85%)

$green = #34954C
$green-light = lighten($green, 50%)
$green-lighter = lighten($green, 80%)
$green-dark = darken($green, 50%)