/*--------------------------------------------------------------------
*
* COLORS
*
--------------------------------------------------------------------*/

$gray = #333
$gray-light = lighten($gray, 50%)
$gray-lighter = lighten($gray, 90%)

$green = #3cb371
$green-light = lighten($green, 50%)
$green-lighter = lighten($green, 80%)
$green-dark = darken($green, 30%)
