/*--------------------------------------------------------------------
*
* COLORS
*
--------------------------------------------------------------------*/

$green = #34954C
$green-light = lighten($green, 50%)
$green-lighter = lighten($green, 80%)
$green-dark = darken($green, 50%)