/*--------------------------------------------------------------------
*
* VARIABLES
*
--------------------------------------------------------------------*/

/* Font Families */

$font-freight = "freight-display-pro", Georgia, Times, serif
$font-proxima = "proxima-nova-alt-condensed", Helvetica, Arial, sans-serif

//- Font Sizes

$font-base = 1rem
$font-large = $font-base*1.5
$font-small = $font-base*0.75

//- Headings Font Sizes

$font-heading-one = $font-base*3
$font-heading-two = $font-base*2.6
$font-heading-three = $font-base*2.2
$font-heading-four = $font-base*1.8
$font-heading-five = $font-base*1.2
$font-heading-six = $font-base*0.8

//- Line Heights

$line-height-base = 1.5
$line-height-tight = $line-height-base*0.8
$line-height-spaced = $line-height-base*1.2

/* Responsive Breakpoints */

$smartphone = '(max-width: 480px)'
$mobile-devices = '(max-width: 768px)'
$tablet = '(min-width: 481px) and (max-width: 1023px)'
$desktop = '(min-width: 769px)'
$desktop-wide = '(min-width: 1200px)'
