footer(role='contentinfo')
  .content
    p Built and maintained by <a href='https://github.com/orgs/Level/people'>the core team</a> with help of contributors. 
    p <em>Free as in Freedom</em>. Most of modules licensed under <a href='http://opensource.org/licenses/MIT'>MIT</a>.
    p: a.github-button(href='https://github.com/level') See on Github
