extends ./layout
block content

  header(role='banner')
    .content
      nav.cf
        .pull-right
          label(for='menu-toggle') Menu
          input(type='checkbox', id='menu-toggle')

          ul.unstyled
            li
              a(href='https://opencollective.com/level', title='Open Collective') Open Collective
            li
              a(href='https://github.com/Level/awesome', title='An open list of awesome Level modules and resources') Awesome
            li
              a(href='https://github.com/Level/community', title='General discussion, cross-repo efforts and common information for projects in the community') Community
            //- li
            //-   a(href='#', title='Examples') Examples
            //-   span.label Soon
            li
              a(href='https://github.com/Level', title='The Level organization on GitHub') GitHub

  // ♥ https://github.com/tholman/github-corners
  a(href='https://github.com/Level/leveljs.org', class='github-corner', aria-label='View source on GitHub')
    <svg width="80" height="80" viewBox="0 0 250 250" style="fill:#499b53; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>

  .content(role='main')
    section.intro.animated.fadeInDown
      h1
        img.logo(src='/img/logo.svg')
        | Level
      h3 A community and a collection of Node.js modules for creating transparent databases.
      a(href='https://github.com/Level/level', class='button button-primary button-large', title='level')
        img.logo(src='/img/logo-white.svg')
        | level
      a(href='https://github.com/Level/levelup', class='button button-primary button-large', title='levelup')
        img.logo(src='/img/logo-white.svg')
        | levelup
      a(href='https://github.com/Level/leveldown', class='button button-primary button-large', title='leveldown')
        img.logo(src='/img/logo-white.svg')
        | leveldown
      a(href='https://github.com/Level/memdown', class='button button-primary button-large', title='memdown')
        img.logo(src='/img/logo-white.svg')
        | memdown
      a(href='https://github.com/Level/level-js', class='button button-primary button-large', title='level-js')
        img.logo(src='/img/logo-white.svg')
        | level-js

    section
      .cf
        .column
          h4 Welcome!
          p
            strong
              | Level is a community and a collection of Node.js modules for 
              | creating transparent databases. A solid set of primitives enable 
              | powerful databases to be built in userland. They can be embedded 
              | or networked, persistent or transient - in short, tailored to 
              | your needs.
          p
            | At the core of Level are simple key-value stores that follow the 
            | characteristics of <a href="https://github.com/google/leveldb">LevelDB</a>. 
            | LevelDB is a key-value store built by Google, used in Google 
            | Chrome and many other products. It supports arbitrary byte arrays 
            | as both keys and values, singular reads and writes, batched writes 
            | and bi-directional iterators. LevelDB sorts entries 
            | lexicographically by keys which, when combined with ranged 
            | iterators, makes for a very powerful query mechanism.
          p
            | To bring those concepts to Node.js and other JavaScript runtimes, 
            | Level utilizes idiomatic Node.js interfaces like 
            | <a href="https://nodejs.org/api/stream.html">streams</a>, 
            | <a href="https://nodejs.org/api/events.html">events</a> and 
            | <a href="https://nodejs.org/api/buffer.html">buffers</a>. It 
            | offers a rich set of data types through 
            | <a href="https://github.com/Level/encoding-down">encodings</a> and 
            | allows for extensions like 
            | <a href="https://github.com/Level/subleveldown"><code>subleveldown</code></a> 
            | to split a database into evented sections. Underlying stores can 
            | be easily swapped to target a wide range of runtime environments. 
            | The most common store is 
            | <a href="https://github.com/Level/leveldown"><code>leveldown</code></a> 
            | which is a pure C++ binding to LevelDB. 
            | <a href="https://github.com/Level/awesome/#stores">Many alternatives are available</a> 
            | such as 
            | <a href="https://github.com/Level/level-js"><code>level-js</code></a> 
            | in the browser or 
            | <a href="https://github.com/Level/memdown"><code>memdown</code></a> 
            | for an in-memory store.
          p 
            | The <a href="https://github.com/Level/level"><code>level</code></a> 
            | module is the recommended way to get started. Visit 
            | <a href="https://github.com/Level/awesome"><code>awesome</code></a> 
            | to discover more modules. See our 
            | <a href="https://github.com/orgs/Level/projects/2">project board</a> 
            | to find out what we're working on. If you need help - technical, 
            | philosophical or other - feel free to open an issue in 
            | <a href="https://github.com/Level/community"><code>community</code></a> 
            | or a more specific repository.

        .column
          h4 Live Demo
          #demo.runkit-container
          script#demo-source(type='text/template').
            const { Level } = require('level')
            const db = new Level('./db', { valueEncoding: 'json' })

            async function main () {
              // Add an entry with key 'a' and value 1
              await db.put('a', 1)

              // Add multiple entries
              await db.batch([{ type: 'put', key: 'b', value: 2 }])

              // Get value of key 'a': 1
              const value = await db.get('a')

              // Iterate entries with keys that are greater than 'a'
              for await (const [key, value] of db.iterator({ gt: 'a' })) {
                console.log(value) // 2
              }
            }

            main()
          script.
            RunKit.createNotebook({
              element: document.getElementById('demo'),
              source: document.getElementById('demo-source').textContent,
              nodeVersion: '>=18'
            })
          p: em 
            | As of 
            a(href='https://github.com/Level/level'): code level@5
            | , the above code works in Node.js, Electron and browsers!

    section.goals
      h3.centered Highlights

      .cf
        .column
          h4 Simple
          p
            | Most databases are mysterious black boxes. Level provides a highly 
            | transparent, light-weight foundation for you to compose 
            | higher-level features on top of. First and foremost, it offers 
            | simple key-value stores. No SQL, schemas or indexes are involved 
            | - unless you want to!
          h4 Universal
          p
            | Swap out the underlying store as needed. Many stores are available. 
            | This allows you to use the same API across different runtime environments.
          h4 Open
          p 
            | Projects in the Level organization are 
            strong: a(href='https://github.com/Level/community/blob/master/CONTRIBUTING.md')
              | OPEN Open Source
            | . Individuals making significant and valuable contributions are 
            | given commit-access to contribute as they see fit.
          h4 Modular
          p 
            | More complex and opinionated features such as replication, 
            | map-reduce and pub-sub can be - and hundreds are! - written in 
            | userland and published on 
            a(href='https://www.npmjs.org/' title='npm') npm
            | . This is actively encouraged to keep the core of Level lean.

        .column
          h4 Sorted By Keys
          p 
            | Level databases store their entries by keys, usually sorted 
            | lexicographically. This is one of the main distinguishing features 
            | amongst similar data storage libraries and lends itself to flexible 
            | namespacing and fast range queries.
          h4 First-class Binary Support
          p 
            | Both keys and values are treated as simple arrays of bytes. Their 
            | content can be anything from ASCII strings to binary blobs.
          h4 Encodings
          p
            | Arbitrary JavaScript objects and primitive types can be used for 
            | both keys and values, by converting input and output to types 
            | supported by the underlying store. Through this mechanism, you can 
            | customize how entries are sorted and queried. Some stores can also 
            | store richer types natively.
          h4 Embeddable &amp; Networkable
          p
            | Most Level databases are meant to be embedded in an application. 
            | If so desired, they can be networked by adding protocols such as 
            | HTTP, TCP or UDP to your process.

    section.centered
      h3 Donate
      p
       | To sustain Level and its activities, become a backer or sponsor on 
       strong: a(href='https://opencollective.com/level') Open Collective. 
       | Your logo or avatar will be displayed on our 28+ 
       a(href='https://github.com/Level') GitHub repositories
       |  and 
       a(href='https://www.npmjs.com/') npm
       |  packages. 💖
      h4 Backers
      a(href='https://opencollective.com/level')
        img(src='https://opencollective.com/level/backers.svg', alt='Open Collective backers')
      h4 Sponsors
      a(href='https://opencollective.com/level')
        img(src='https://opencollective.com/level/sponsors.svg', alt='Open Collective sponsors')

    section.conferences.centered
      h3 Conference Talks
      .cf
        .column
          dl
            dt: a(href='http://nodejsconfit.levelgraph.io/') How to Cook a Graph Database in a Night
            dd <a href='https://twitter.com/matteocollina'>Matteo Collina</a> at JSConf.it (2014)
          dl
            dt: a(href='http://r.va.gg/presentations/nodeconfeu.2013/') A Real Database Rethink
            dd <a href='https://twitter.com/rvagg'>Rod Vagg</a> at NodeConf.eu (2013)
          dl
            dt: a(href='https://www.youtube.com/embed/4_22ie--Rzs') A modular database?
            dd <a href='https://twitter.com/dominictarr'>Dominic Tarr</a> at NodeConf.eu (2013)
        .column
          dl
            dt: a(href='https://www.youtube.com/embed/41oDDTRWjIQ') Level me up, Scotty!
            dd <a href='https://twitter.com/juliangruber'>Julian Gruber</a> at NodeConf.eu (2013)
          dl
            dt Yours?
            dd Are you presenting? Let us know <a href="https://github.com/Level/leveljs.org/issues/new">here</a>!

    section.platforms.centered
      h3 Supported Platforms

      ul.unstyled.cf
        li 
          img(src='./img/logo-osx.svg', height='80', title='OS X')
          | OS X
        li 
          img(src='./img/logo-linux.svg', height='80', title='Linux')
          | Linux
        li 
          img(src='./img/logo-windows.svg', height='80', title='Windows')
          | Windows
        li 
          img(src='./img/logo-illumos.svg', height='80', title='Illumos')
          | Illumos

    section.papers.centered
      h3 Papers

      .cf

        .column.column-small
          a(href='http://web.archive.org/web/20130502222338/http://dailyjs.com/2013/04/19/leveldb-and-node-1/') Intro to LevelDB
          p Rodd Vagg

        .column.column-small
          a(href='http://nosqlsummer.org/paper/lsm-tree') The LSM-Tree
          p Patrick O'Neil & al.

        .column.column-small
          a(href='http://www.igvita.com/2012/02/06/sstable-and-log-structured-storage-leveldb') SSTable and Log Structured Storage: LevelDB
          p Ilya Grigorik 

    section.support.centered
      h3 Support
      p
        | Open an issue in <a href="https://github.com/Level/community"><code>community</code></a> or a more specific repository. 
        | You can also visit us on <strong>irc.freenode.net</strong> in <a href='irc://freenode.net/##leveldb'><code>##leveldb</code></a>. 
        | Please note that this channel is not affiliated with Google LevelDB. We may open a new channel soon to clarify this point.
      //- a(href='https://twitter.com/leveldb', class='button button-secondary button-large button-twitter') @leveldb
