extends ./layout
block content

  header(role='banner')
    .content
      nav.cf
        h3.pull-left LevelDB
        
        .pull-right
          label(for='menu-toggle') Menu
          input(type='checkbox', id='menu-toggle')

          ul.unstyled
            li
              a(href='https://github.com/rvagg/node-levelup/blob/master/README.md', title='Docs') Docs
            li
              a(href='#', title='Examples') Examples
              span.label Soon
            li
              a(href='https://github.com/level', title='See LevelDB organization on Github') Github

  .content(role='main')
    section.intro.animated.fadeInDown
      h1 LevelDB
      h3 LevelDB is a light-weight, single-purpose library for persistence with bindings to many platforms.
      a(href='http://code.google.com/p/leveldb/', class='button button-primary button-large', title='View on Google Code') C++ Library
      a(href='https://github.com/rvagg/node-levelup', class='button button-primary button-large', title='Node.js Bindings') Node.js Bindings

    section.features.centered
      h3 Features

      .cf
        .column

          h4 Sorted by keys
          p By default, LevelDB stores entries lexicographically sorted by keys. The sorting is one of the main distinguishing features of LevelDB amongst similar embedded data storage libraries and comes in very useful for querying as we’ll see later.

          h4 Arbitrary byte arrays
          p Both keys and values are treated as simple arrays of bytes, so content can be anything from ASCII strings to binary blobs.

          h4 Compressed storage
          p Google’s Snappy compression library is an optional dependency that can decrease the on-disk size of LevelDB stores with minimal sacrifice of speed. Snappy is highly optimized for fast compression and therefore does not provide particularly high compression ratios on common data.

        .column
          h4 Demo
          p Live Demo similar to the Node.js bindings made with <a href='http://browserify.org'>Browserify</a> and <a href='http://requirebin.com'>RequireBin</a> by <a href='https://github.com/brycebaril'>Bryce Baril</a>
          iframe(src='http://requirebin.com/embed?gist=150acfc11dbaaffdb52e', width='100%', frameborder=0)


    section.goals.centered
      h3 Highlights

      .cf
        .column
          h4 Levelup
          p Levelup is a Node.js project that aims to provide a common, portable interface to a multitude of LevelDB forks such as Hyperdex. Check out the many 
            a(href='https://github.com/level') flavours of LevelDB 
            | made available though this project.

        .column
          h4 Kernel-Like
          p Most databases are mysterious black-boxs. LevelDB provides a highly transparent, light-weight foundation for you to compose higher-level features on top of.
        
      .cf
        .column
          h4 Embeddable & Networkable
          p LevelDB is embedded, but can be networked adding protocols such as http, tcp or udp to your process.
        
        .column
          h4 Features
          p LevelDB has a small set of primitives. This allows more complex features such as replication, map-reduce, pub-sub, etc. to be published as modules on package management systems such as 
            a(href='https://www.npmjs.org/' title='npm') npm 
            | or 
            a(href='https://github.com/clibs/clib' title='clibs') clibs 
            | . Competition leads to innovation!

    section.conferences.centered
      h3 Conference Talks

      .cf

        .column
          h4 Upcoming

          dl
            dt: a(href='http://campjs.com/#leveldb') LevelDB (workshop)
            dd <a href='https://twitter.com/hij1nx'>Paolo Fragomeni</a> at <a href='http://campjs.com/'>CampJS</a> (May 23&ndash;26th 2014)

          dl
            dt LevelDB (sessions and workshops)
            dd Various camp counsellors at <a href='http://nodeconf.com/'>NodeConf</a> (July 3rd&ndash;6th)

          dl
            dt: a(href='http://forwardjs.com/training-sessions/#goto-303') LevelDB + Node.js: A persistance renaissance (workshop)
            dd <a href='https://twitter.com/hij1nx'>Paolo Fragomeni</a> at <a href='http://forwardjs.com/'>Forward.js</a> (July 24&ndash;26th)

        .column
          h4 Past

          dl
            dt: a(href='http://nodejsconfit.levelgraph.io/') How to Cook a Graph Database in a Night
            dd <a href='https://twitter.com/matteocollina'>Matteo Collina</a> at JSConf.it (2014)

          dl
            dt: a(href='http://r.va.gg/presentations/nodeconfeu.2013/') A Real Database Rethink
            dd <a href='https://twitter.com/rvagg'>Rod Vagg</a> at NodeConf.eu (2013)

          dl
            dt: a(href='https://www.youtube.com/embed/4_22ie--Rzs') A modular database?
            dd <a href='https://twitter.com/dominictarr'>Dominic Tarr</a> at NodeConf.eu (2013)

          dl
            dt: a(href='https://www.youtube.com/embed/41oDDTRWjIQ') Level me up, Scotty!
            dd <a href='https://twitter.com/juliangruber'>Julian Gruber</a> at NodeConf.eu (2013)

    section.platforms.centered
      h3 Supported platforms

      ul.unstyled.cf
        li 
          img(src='./img/logo-osx.svg', height='80', title='OS X')
          | OS X
        li 
          img(src='./img/logo-linux.svg', height='80', title='Linux')
          | Linux
        li 
          img(src='./img/logo-windows.svg', height='80', title='Windows')
          | Windows
        li 
          img(src='./img/logo-illumos.svg', height='80', title='Illumos')
          | Illumos

    section.tools.centered
      h3 Tools

        .cf

          | &nbsp;
          br

          a(href='http://github.com/hij1nx/ldb') A Commandline REPL
          | &nbsp;
          br

    section.papers.centered
      h3 Papers

      .cf

        .column.column-small
          a(href='http://dailyjs.com/2013/04/19/leveldb-and-node-1/') Intro to LevelDB
          p Rodd Vagg

        .column.column-small
          a(href='http://nosqlsummer.org/paper/lsm-tree') The LSM-Tree
          p Patrick O'Neil & al.

        .column.column-small
          a(href='http://www.igvita.com/2012/02/06/sstable-and-log-structured-storage-leveldb') SSTable and Log Structured Storage: LevelDB
          p Ilya Grigorik 

    section.community.centered
      h3 Community
      p Visit us on <strong>irc.freenode.net</strong> in <a href='irc://freenode.net/##leveldb'>##leveldb</a>.
      p Do you have a detailed question? Check out Google Groups!

      a(href='https://groups.google.com/forum/#!forum/leveldb', class='button button-secondary button-large button-google') LevelDB 
      a(href='https://groups.google.com/forum/#!forum/node-levelup', class='button button-secondary button-large button-google') LevelUP 
      a(href='https://twitter.com/leveldb', class='button button-secondary button-large button-twitter') @leveldb

