extends ./layout
block content

  header(role='banner')
    .content
      nav.cf
        h3.pull-left LevelDB
        ul.unstyled.pull-right
          li
            a(href='https://github.com/rvagg/node-levelup/blob/master/README.md', title='Docs') Docs
          li
            a(href='http://hereishow.to/@leveldb', title='Examples') Examples
            span.label Soon
          li
            a(href='https://github.com/level', title='See LevelDB organization on Github') Github

  .content
    section.intro
      h1 Level Databases
      h3 Level DataBases offer a single, cross platform interface with a multitude of back-ends optimized for different use cases.
      a(href='https://github.com/level', class='button button-primary button-large', title='View on Github') View on Github

    section.demo.centered
      h3 Demo
      p Live Demo made with <a href='http://browserify.org'>Browserify</a> and <a href='http://requirebin.com'>RequireBin</a> by <a href='https://github.com/brycebaril'>Bryce Baril</a>
      iframe(src='http://requirebin.com/embed?gist=f7f917fcbf3784b0b804' width='100%', frameborder=0)

    section.goals.centered
      h3 Goals

      .cf
        .column
          h4 Multi-Back End
          p Sometimes you are looking for write speed, sometimes compression, perhaps large in memory working sets. With Level Databases you can pick from a variety of back ends that are optimized differently.

        .column
          h4 Kernel-Like
          p A database doesn't need to be a massive and mysterious background process. It only needs to offer the essential elements as building blocks so that you can compose the functionality you need.
        
      .cf
        .column
          h4 Embeddable & Networkable
          p Level Databases will run on a server inside a process, exposed over the network as a server or in the browser.
        
        .column
          h4 Community Based
          p Almost all features can be found as modules published to the worlds most advanced package management system, <a href='https://www.npmjs.org/' title='npm'>npm</a>.

    section.conferences.centered
      h3 Conference Talks

      .cf

        .column
          h4 Upcoming

          dl
            dt: a(href='http://campjs.com/#leveldb') LevelDB (workshop)
            dd <a href='https://twitter.com/hij1nx'>Paolo Fragomeni</a> at <a href='http://campjs.com/'>CampJS</a> (May 23&ndash;26th 2014)

          dl
            dt LevelDB (sessions and workshops)
            dd Various camp counsellors at <a href='http://nodeconf.com/'>NodeConf</a> (July 3rd&ndash;6th)

          dl
            dt: a(href='http://forwardjs.com/training-sessions/#goto-303') LevelDB + Node.js: A persistance renaissance (workshop)
            dd <a href='https://twitter.com/hij1nx'>Paolo Fragomeni</a> at <a href='http://forwardjs.com/'>Forward.js</a> (July 24&ndash;26th)

        .column
          h4 Past

          dl
            dt: a(href='http://nodejsconfit.levelgraph.io/') How to Cook a Graph Database in a Night
            dd <a href='https://twitter.com/matteocollina'>Matteo Collina</a> at JSConf.it (2014)

          dl
            dt: a(href='http://r.va.gg/presentations/nodeconfeu.2013/') A Real Database Rethink
            dd <a href='https://twitter.com/rvagg'>Rod Vagg</a> at NodeConf.eu (2013)

          dl
            dt: a(href='https://www.youtube.com/embed/4_22ie--Rzs') A modular database?
            dd <a href='https://twitter.com/dominictarr'>Dominic Tarr</a> at NodeConf.eu (2013)

          dl
            dt: a(href='https://www.youtube.com/embed/41oDDTRWjIQ') Level me up, Scotty!
            dd <a href='https://twitter.com/juliangruber'>Julian Gruber</a> at NodeConf.eu (2013)

    section.platforms.centered
      h3 Supported platforms

      ul.unstyled.cf
        li 
          img(src='./img/logo-osx.svg', height='80', title='OS X')
          | OS X
        li 
          img(src='./img/logo-linux.svg', height='80', title='Linux')
          | Linux
        li 
          img(src='./img/logo-windows.svg', height='80', title='Windows')
          | Windows
        li 
          img(src='./img/logo-smartos.svg', height='80', title='SmartOS')
          | SmartOS

    section.community.centered
      h3 Community
      p Visit us on <strong>irc.freenode.net</strong> in <a href='irc://freenode.net/##leveldb'>##leveldb</a>.
      p Do you have a detailed question? Check out Google Groups!

      a(href='https://groups.google.com/forum/#!forum/leveldb', class='button button-secondary button-large button-google') LevelDB on Google Groups
      a(href='https://groups.google.com/forum/#!forum/node-levelup', class='button button-secondary button-large button-google') LevelUP on Google Groups
      a(href='https://twitter.com/leveldb', class='button button-secondary button-large button-twitter') @leveldb on Twitter

  //- .content(role='main')
  //-   section.features.cf
  //-     .column
  //-       h2 Features
  //-       ul.numbered
  //-         li
  //-           h3 Sorted by keys
  //-           | By default, LevelDB stores entries lexicographically sorted by keys. The sorting is one of the main distinguishing features of LevelDB amongst similar embedded data storage libraries and comes in very useful for querying as we’ll see later.
  //-         li
  //-           h3 Arbitrary byte arrays
  //-           | Both keys and values are treated as simple arrays of bytes, so content can anything from ASCII strings to binary blobs.
  //-         li
  //-           h3 Compressed storage
  //-           | Google’s Snappy compression library is an optional dependency that can decrease the on-disk size of LevelDB stores with minimal sacrifice of speed. Snappy is highly optimized for fast compression and therefore does not provide particularly high compression ratios on common data.

