doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Git, distributed, peer-to-peer network")
    meta(name="author", content="https://github.com/orgs/Level/members")

    title LevelDB.org

    script(src='//embed.runkit.com')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Libre+Franklin:400,600')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Lato:400,700')

    link(rel="stylesheet", href="./css/normalize.css")
    link(rel="stylesheet", href="./css/main.css")

    link(rel="icon", type="image/png", href="./img/favicon.png")

  body

    block content
    include ./footer
