doctype html
html(lang="en")

  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Git, distributed, peer-to-peer network")
    meta(name="author", content="")

    title leveldb.org

    script(src="//use.typekit.net/nzr6cbo.js")
    script
      try{Typekit.load();}catch(e){}

    link(rel="stylesheet", href="/css/normalize.css")
    link(rel="stylesheet", href="/css/main.css")

  body

    block content
    include ./footer

  footer(role="contentinfo")
    .content
      p © 2014, async.ly
